[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir LIBRE
Name[es_ES]=Abrir LIBRE
Comment=
Exec=sh -c "cd /home/orangepi/ORANGE/;sleep 10;mate-terminal -x sh ejecutar_mmdvmLIBRE_05.sh"
Icon=
Terminal=false
StartupNotify=false
Path=
Hidden=false

