[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir YSF
Name[es_ES]=Abrir YSF
Comment=
Exec=sudo sh ejecutar_solofusion.sh
Icon=/home/orangepi/ORANGE/SOLO_YSF.png
Terminal=false
StartupNotify=false
Path=
Hidden=false

